*.xpi
*.log
/xpi-build
/src/addon_icon.png
/src/addon_icon64.png
/src/icon16.png
/src/icon32.png
/src/icon48.png
/src/icon64.png
/src/icon128.png
/src/about-logo.png
/src/about-logo@2x.png
/src/about-wordmark.svg
/src/about-wordmark.png
/src/about.png
/src/iceweasel_logo.png
/debian/firefox-branding-iceweasel*
/debian/xul-ext-*
/debian/files
