[Desktop Entry]
Encoding=UTF-8
Name=Unofficial i2p Browser
Name[bg]=Unofficial i2p Browser
Name[ca]=Unofficial i2p Browser
Name[cs]=Unofficial i2p Browser
Name[el]=Unofficial i2p Browser
Name[es]=Unofficial i2p Browser
Name[fa]=Unofficial i2p Browser
Name[fi]=Unofficial i2p Browser
Name[fr]=Unofficial i2p Browser
Name[hu]=Unofficial i2p Browser
Name[it]=Unofficial i2p Browser
Name[ja]=Unofficial i2p Browser
Name[ko]=Unofficial i2p Browser
Name[nb]=Unofficial i2p Browser
Name[nl]=Unofficial i2p Browser
Name[nn]=Unofficial i2p Browser
Name[no]=Unofficial i2p Browser
Name[pl]=Unofficial i2p Browser
Name[pt]=Unofficial i2p Browser
Name[pt_BR]=Unofficial i2p Browser
Name[ru]=Unofficial i2p Browser
Name[sk]=Unofficial i2p Browser
Name[sv]=Unofficial i2p Browser
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=Unofficial i2p Browser Web Browser
X-GNOME-FullName[bg]=Интернет браузър (Unofficial i2p Browser)
X-GNOME-FullName[ca]=Navegador web Unofficial i2p Browser
X-GNOME-FullName[cs]=Unofficial i2p Browser Webový prohlížeč
X-GNOME-FullName[el]=Περιηγήτης Ιστού Unofficial i2p Browser
X-GNOME-FullName[es]=Navegador web Unofficial i2p Browser
X-GNOME-FullName[fa]=مرورگر اینترنتی Unofficial i2p Browser
X-GNOME-FullName[fi]=Unofficial i2p Browser-selain
X-GNOME-FullName[fr]=Navigateur Web Unofficial i2p Browser
X-GNOME-FullName[hu]=Unofficial i2p Browser webböngésző
X-GNOME-FullName[it]=Unofficial i2p Browser Browser Web
X-GNOME-FullName[ja]=Unofficial i2p Browser ウェブ・ブラウザ
X-GNOME-FullName[ko]=Unofficial i2p Browser 웹 브라우저
X-GNOME-FullName[nb]=Unofficial i2p Browser Nettleser
X-GNOME-FullName[nl]=Unofficial i2p Browser webbrowser
X-GNOME-FullName[nn]=Unofficial i2p Browser Nettlesar
X-GNOME-FullName[no]=Unofficial i2p Browser Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW Unofficial i2p Browser
X-GNOME-FullName[pt]=Unofficial i2p Browser Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web Unofficial i2p Browser
X-GNOME-FullName[ru]=Интернет-браузер Unofficial i2p Browser
X-GNOME-FullName[sk]=Internetový prehliadač Unofficial i2p Browser
X-GNOME-FullName[sv]=Webbläsaren Unofficial i2p Browser
Exec=ui2pbrowser --class Unofficial i2p Browser %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=ui2pbrowser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Unofficial i2p Browser
StartupNotify=true
