Source: firefox-branding-iceweasel
Section: web
Priority: optional
Maintainer: Debian Mozilla Extension Maintainers <pkg-mozext-maintainers@lists.alioth.debian.org>
Uploaders: nord-stream <nord-stream@ochaken.jp.eu.org>
Build-Depends: debhelper (>= 9),
 mozilla-devscripts,
 librsvg2-bin,
 xsltproc,
 imagemagick
Standards-Version: 3.9.8
Homepage: https://notabug.org/desktopd/iceweasel-branding

Package: xul-ext-iceweasel-branding
Architecture: all
Depends: ${misc:Depends},
 ${xpi:Depends}
Recommends:
 ${xpi:Recommends}
Enhances:
 ${xpi:Enhances}
Provides:
 firefox-branding-iceweasel,
 ${xpi:Provides}
Breaks:
 ${xpi:Breaks}
Description: Branding for Firefox to apply Iceweasel name and images
 Debian distributed a rebranded version of Firefox called Iceweasel. This was
 due to legal concerns. In 2016 Debian and Mozilla developers agreed that
 Debian can legally package Firefox without violating DFSG. Firefox is back in
 Debian and Iceweasel is now gone! However, some people want to continue using
 Iceweasel, and Iceweasel does have a historical value. So this rebranding
 package was created to restore Iceweasel branding for Firefox. Most files are
 just copied from the original Iceweasel package.
