Source: firefox-branding-ui2pbrowser
Section: web
Priority: optional
Maintainer: eyedeekay <eyedeekay@safe-mail.i2p>
Uploaders: nord-stream <eyedeekay@safe-mail.i2p>
Build-Depends: debhelper (>= 9),
 mozilla-devscripts,
 librsvg2-bin,
 xsltproc,
 imagemagick
Build-Conflicts: graphicsmagick-imagemagick-compat
Standards-Version: 4.0.0
Homepage: https://github.com/eyedeekay/ui2pbrowser-branding
Vcs-Git: https://github.com/eyedeekay/ui2pbrowser-branding.git
Vcs-Browser: https://github.com/eyedeekay/ui2pbrowser-branding.git

Package: xul-ext-ui2pbrowser-branding
Architecture: all
Depends: ${misc:Depends},
 ${xpi:Depends}
Recommends:
 ${xpi:Recommends}
Enhances:
 ${xpi:Enhances}
Provides:
 firefox-branding-ui2pbrowser,
 ${xpi:Provides}
Breaks:
 ${xpi:Breaks}
Description: Branding for Firefox to apply Unofficial i2p Browser name and images
 This package preserves and restores the look and feel of Unofficial i2p Browser, the Debian-
 rebranded version of Firefox distributed before Firefox came back to Debian.
 Most files were just copied from the original Unofficial i2p Browser package, including the
 famous about:ui2pbrowser page of historic value.
